---
import BaseLayout from '@/layouts/BaseLayout.astro';
import HeroSection from '../../components/HeroSection.astro';
import ActionGrid from '../../components/ActionGrid.astro';
import CollaborationSection from '../../components/CollaborationSection.astro';
import { useTranslations } from "@/i18n/utils";
import CTASection from '@/components/CTASection.astro';
import SimpleHeroSection from '@/components/SimpleHeroSection.astro';
import Cta from '@/components/Cta.astro';
import { getRelativeLocaleUrl } from "astro:i18n";
import NetworkSection from '@/components/NetworkSection.astro';



const currentLang = (Astro.currentLocale === "es" || Astro.currentLocale === "en") ? Astro.currentLocale : "es";
const t = useTranslations(currentLang);
const actions = [
  {
    title: "Assistance to Homeless People and Families",
    description: "We provide food, clothing, basic items, and psychosocial support.",
  },
  {
    title: "Support for Neurodivergent People",
    description: "We create safe spaces, adapted activities, and integration programs.",
  },
  {
    title: "Response to Crises and Disasters",
    description: "We mobilize resources and immediate assistance for affected communities.",
  },
  {
    title: "Economic and Social Reactivation",
    description: "We promote employment, entrepreneurship, and community development initiatives.",
  },
  {
    title: "Promotion of Solidarity",
    description: "We promote the circular economy, volunteering, and international cooperation.",
  }
];


// Data for CollaborationSection
const collaborationData = {
  title: "Collaboration and Partnerships",
  description: "Our work is enriched through strategic partnerships with other NGOs, companies, and public bodies, expanding our impact and generating sustainable solutions.",
  buttonText: "Collaborate with us",
  buttonHref: "/contact"
};

const heroData = {
  title: "What Do We Do?",
  description: "At MIRES, we provide comprehensive assistance."
};

const networkSection = {
  title1: "Whom Do We Serve?",
  description1: `<p class="mb-4">To people in vulnerable situations, including homeless individuals, low-income families, communities affected by social crises or natural disasters, and neurodivergent individuals.</p>`,
  title2: "How Do We Do It?",
  description2: `<p class="mb-4">Through humanitarian support programs, social integration, and sustainable development, we seek to improve the quality of life for those who need it most. We are committed to offering sustainable solutions that promote their social inclusion and enhance their ability to lead a dignified and autonomous life.</p>`
};

---
<BaseLayout>
  <SimpleHeroSection {...heroData} />
  <NetworkSection {...networkSection} />
  <ActionGrid 
    title="Our Key Actions"
    actions={actions}
  />
  <CollaborationSection {...collaborationData} />

  

</BaseLayout>