---
//src\pages\ventas.astro
import FormDataPay from '@/components/pay/FormDataPay.astro';
import Layout from '@/layouts/Layout.astro';

---

<Layout title="Formulario de Pago y Registro">
 <section class="py-12 px-4 flex-1 flex justify-center items-center">
  <div class="max-w-7xl w-full">
   <FormDataPay />
  </div>
 </section>
</Layout>