---
interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;

const partners = [
  {
    name: "Banco Santander",
    logo: "/assets/img/partner/mires_santander_partner.jpg"
  },
  {
    name: "HAMBRECERO",
    logo: "https://hambrecero.es/wp-content/uploads/2024/01/logo-hc_24-white.png"
  },
  {
    name: "Consum",
    logo: "https://www.consum.es/wp-content/uploads/2025/01/Logo-cast-120.png"
  }
];
---

<section class="py-16 bg-lightbg dark:bg-darkbg">
  <div class="container mx-auto px-6">
    <!-- Título y Subtítulo -->
    <div class="text-center mb-12">
      <h2 class="text-3xl font-bold text-primary dark:text-lightbg mb-2">{title}</h2>
      <p class="text-lg text-secondary dark:text-gray-300">{subtitle}</p>
    </div>

    <!-- Contenedor de Logos -->
    <div class="flex flex-wrap justify-center items-center gap-8">
      {partners.map((partner, index) => (
        <div 
          class="w-[180px] h-[100px] bg-gray-800 rounded-xl shadow-md p-4 flex items-center justify-center transform transition-all duration-300 "
          style={`transition-delay: ${index * 50}ms`}
        >
          <img 
            src={partner.logo || "/placeholder.svg"} 
            alt={partner.name} 
            class="max-w-full max-h-full object-contain transition-opacity duration-300 group-hover:opacity-90"
          />
        </div>
      ))}
    </div>
  </div>
</section>