---
//src\layouts\BaseLayout.astro
import "@/styles/tailwind.css";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

import { languageList } from "@/i18n/ui";

const currentLang = Astro.currentLocale || "es";
currentLang as keyof typeof languageList;
---

<!doctype html>
<html lang={currentLang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Título SEO -->
    <title>Mires - Solidaridad en acción</title>

    <!-- Meta Tags SEO -->
    <meta
      name="description"
      content="Mires solidaridad en acción."
    />
    <meta name="robots" content="index, follow" />
    <meta
      name="keywords"
      content="Mires solidaridad en acción"
    />

    <!-- Open Graph y Twitter -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="CodeXtremeOS" />
    <meta
      property="og:description"
      content="Mires solidaridad en acción."
    />
    <meta
      property="og:image"
      content="https://www.somosmires.es/imagen-previa.png"
    />
    <meta property="og:url" content="https://www.somosmires.es/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Mires" />
    <meta
      name="twitter:description"
      content="Llevamos ayuda a quienes más lo necesitan, impulsamos oportunidades y creamos soluciones sostenibles."
    />
    <meta
      name="twitter:image"
      content="https://www.somosmires.es/imagen-twitter.png"
    />
    <meta
      name="google-site-verification"
      content="X4pVBsZ9Qujczrzm_M8EeRE0Kvom53DCD6zt2ffWXsI"
    />

    <!-- Favicon y iconos -->
    <link rel="icon" href="/favicon.webp" sizes="32x32" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <meta name="theme-color" content="#6B5B95" />

    <!-- Schema Markup JSON-LD -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://www.somosmires.es",
        "name": "Mires",
        "description": "Llevamos ayuda a quienes más lo necesitan, impulsamos oportunidades y creamos soluciones sostenibles.",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "https://www.somosmires.es/buscar?q={search_term_string}",
          "query-input": "required name=search_term_string"
        }
      }
    </script>
  </head>
  <body
    
  >
    <Header />
    <main class="min-h-[calc(100vh-8rem)]">
      <!-- Contenido -->
      <slot />
    </main>
    <Footer />
  </body>
</html>
